@charset 'UTF-8';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  /* Placing `overflow-scrolling: touch` here breaks parallax. */
  /*-webkit-overflow-scrolling: touch;*/
}
html, body {
  /* Unsure why tut included this. */
  /*overflow: hidden;*/
}
body {
  font-family: sans-serif;
  /* Placing `overflow-scrolling: touch` here breaks parallax. */
  /*-webkit-overflow-scrolling: touch;*/
}
h1 {
  color: white;
  font-size: 2.125rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.parallax-container {
  height: 568px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
  /* Placing `overflow-scrolling: touch` here breaks parallax. */
  /*-webkit-overflow-scrolling: touch;*/
}
.parallax-group {
  position: relative;
  height: 568px;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* Placing `overflow-scrolling: touch` here doesn't create inertia. */
  /*-webkit-overflow-scrolling: touch;*/
  /* Transition below is for custom debugging tool. */
/*  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -webkit-transform 0.5s;
  -ms-transition: -webkit-transform 0.5s;
  -o-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;*/
}
.parallax-layer {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  /* Placing `overflow-scrolling: touch` here doesn't create inertia. */
  /*-webkit-overflow-scrolling: touch;*/
}
/*
  Tut's recommended formula:
  scale = 1 + (translateZ * -1) / perspective;
*/
.parallax-layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  -moz-transform: translateZ(-300px) scale(2);
  -ms-transform: translateZ(-300px) scale(2);
  -o-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  font-size: 1rem;
}
.parallax-layer--mid {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 1.5rem;
}
.parallax-layer--fore {
  -webkit-transform: translateZ(111px) scale(0.63);
  -moz-transform: translateZ(111px) scale(0.63);
  -ms-transform: translateZ(111px) scale(0.63);
  -o-transform: translateZ(111px) scale(0.63);
  transform: translateZ(111px) scale(0.63);
  font-size: 2rem;
}
.group1 {
  z-index: 10;
}
.group1 .parallax-layer--mid {
  background-image: url('../images/kitten1.jpg');
  background-size: cover;
  background-position: center;
}
.group2 {
  z-index: 1;
}
.group2 .parallax-layer--back {
  background-image: url('../images/kitten3.jpg');
  background-size: cover;
  background-position: center;
}
.group3 {
  z-index: 10;
}
.group3 .parallax-layer--mid {
  background-image: url('../images/kitten4.jpg');
  background-size: cover;
  background-position: center;
}
/*.debug {
  padding: 0.25em;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 0.75rem;
}
.debug-on .parallax-group {
  transform: translate3d(250px, 0, -100px) rotateY(30deg);
}
.debug-on .parallax-layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}*/
